a {
    text-decoration: none;
    color: inherit;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


li {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.container {
    max-width: 1760px;
    padding: 0 10px;
    margin: 0 auto;
}


.header {
    background: #00010A;
    height: 100px;
    color: #FFFF;
    margin: 0px;
    padding: 0px;

}

.header__ihner {
    color: #FFFF;
    display: flex;
    align-items: center;


}

.header__logo {
    margin-top: 12px;
    width: 128px;
    height: 76px;
    margin-right: 614px;

}

.menu {}

.menu__list {
    display: flex;
}

.menu__item {
    margin-right: 100px;
    font-size: 20px;
}

.menu__item:hover {
    color: #0F57C2;
    transition: 0.4 ease-in-out;
}

.menu__link {}

.language__btn {}

.btn__limk {
    font-size: 20px;
}

.btn__limk:hover {
    font-size: 20px;
    color: #0F57C2;
}

.btn__img {
    height: 17px;
}


.title {
    position: relative;
    width: 100%;
    height: 847px;
    background-color: #000000;
    z-index: -5;



}

.title::after {

    content: "";
    position: absolute;
    background-image: url("../images/Group1.png");
    width: 100%;
    height: 847px;
    filter: blur(1px);
    top: 0px;
    z-index: -4;



}

.leftside {
    padding-top: 189px;
}

.title__ihner {
    color: #FFFF;

}

.title__text {
    font-family: 'Play', sans-serif;
    font-size: 80px;
    line-height: 93px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 43px;
}

.title__subtitle {
    font-size: 30px;
    line-height: 36px;

    width: 870px;
    letter-spacing: 0.02em;
    margin-bottom: 100px;
}

.title__btn {
    width: 425px;
    height: 64px;


    background: #0F57C2;
    box-shadow: 10px 10px 80px 20px rgba(4, 12, 33, 0.73);
    border-radius: 12px;
    padding: 20px 90px;
    font-family: 'Play', sans-serif;
    margin-bottom: 131px;
    transition: 0.4ms ease-in-out;
    z-index: -3;

}

.title__btn:hover {
    background: #0F21C2;


}


.about {
    width: 100%;
    height: 1015px;
    background-color: #00010A;
}

.about__ihner {
    position: relative;

}

.backgroud_square {
    position: absolute;
    content: "";
    background-color: #0F57C2;
    width: 39px;
    height: 39px;
    left: 780px;
    top: 65px;
    z-index: -1;

}



.about__title {
    text-align: center;
    padding-top: 91px;
    font-family: 'Oswald', sans-serif;

    font-weight: 400;
    font-size: 48px;

    /* identical to box height, or 125% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
    margin-bottom: 80px;
    z-index: 1;

}

.about__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: 310px;
}

.about__item {
    background-color: #0F57C2;
    width: 276px;
    height: 290px;
    margin-right: 169px;
    margin-bottom: 92px;
}

.about__icon {
    height: 100px;
    width: 100px;
    margin-top: 62px;
    margin-left: 82px;
    margin-bottom: 26px;
}

.about__item-title {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */

    letter-spacing: 0.005em;

    color: #FFFFFF;

    text-align: center;
}

.about__under-txt {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */

    letter-spacing: 0.005em;

    color: #FFFFFF;
    width: 244px;
    height: 196px;
    visibility: hidden;
}

.about__item:hover {
    background-color: #0F21C2;
    width: 276px;
    height: 290px;
}

.about__item:hover .about__item-title {
    visibility: hidden;
    display: none;

}

.about__item:hover .about__icon {
    visibility: hidden;
    display: none;
}

.about__item:hover .about__under-txt {
    visibility: visible;
    margin-left: 16px;
    margin-top: 20px;

}

.our_team {
    background-color: #060817;
    width: 100%;

}


.team__ihner {}

.out__team-title {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height, or 125% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 80px;
}

.left__side-block {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
}

.left__side-img {
    width: 722px;
    height: 699px;
    margin-right: 20px;
}

.left__side-info {
    width: 1018px;
}

.left__side-title {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 59px;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.left__side-sub {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
    /* identical to box height, or 188% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.left__side-quote {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 148%;
    /* or 38px */

    letter-spacing: 0.01em;

    color: #FFFFFF;
    width: 870px;

}

.right__side-block {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
}

.right__side-img {
    width: 722px;
    height: 699px;
}

.right__side-info {
    width: 1018px;
    margin-right: 20px;

}

.right__side-title {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 59px;
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.right__side-sub {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
    /* identical to box height, or 188% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.right__side-quote {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 148%;
    /* or 38px */

    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.our__works {
    width: 100%;
    background-color: #00010A;

}


.works__ihner {}

.works__title {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height, or 125% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
    text-align: center;
    margin-top: -72px;
    padding-top: 100px;
    margin-bottom: 80px;
}



.slider__img {
    width: 1464px;
    height: 896px;
    justify-content: center;
    align-items: center;
}




/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
}



.slider {
    position: relative;
    padding-left: 68px;
    padding-right: 68px;


}



.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 32px;
    height: 64px;
    border: none;
}



.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../images/icon/arrow__left.svg') 0 0 / 100% no-repeat;
    cursor: pointer;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url('../images/icon/arrow__right.svg') 0 0 / 100% no-repeat;
    cursor: pointer;
}


.slider .slick-dots {
    margin-top: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

}

.slider .slick-dots li {
    list-style: none;
}

.slider .slick-dots button {
    font-size: 0;
    width: 16px;
    height: 16px;
    background-color: #0F57C2;
    border-radius: 50%;
    border: none;
    margin-right: 26px;
    cursor: pointer;
}

.slider .slick-dots li.slick-active button {
    background-color: #FFFFFF;
}


.slider .slick-slide.slick-active {
    justify-content: center;
    align-items: center;
}

.slider__item {}


.usage {
    width: 100%;
    background-color: #00010A;
    padding-bottom: 100px;
}



.usage__ihner {}

.usage__title {
    margin-top: -100px;
    padding-top: 100px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height, or 125% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
    text-align: center;
    margin-bottom: 100px;
}

.usage__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.usage__item {
    width: 473px;
    height: 316px;
    align-items: center;
    text-align: center;

    background: #0F57C2;
    margin-right: 20px;
    margin-bottom: 26px;

}

.usage__icon {
    margin-top: 16px;
    margin-bottom: 12px;
    width: 80px;
    height: 80px;
}

.item__name {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height, or 120% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
    margin-bottom: 44px;

}

.item__text {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 148%;
    /* or 38px */

    text-align: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}




.contact {
    width: 100%;
    background-color: #060817;

}



.contact__ihner {}

.contact__title {

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height, or 125% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
    text-align: center;

    padding-top: 100px;
    margin-bottom: 100px;

}

.contact__form {
    display: grid;
    align-items: center;
    justify-content: center;
}

.form__input {
    width: 574px;
    height: 64px;
    border: none;
    border-radius: 12px;
    margin-bottom: 12px;


}

.form__input::placeholder {
    padding-left: 24px;
    padding-top: 16px;


    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.04em;

    color: #D2D3D9;


}

.form__btn {

    width: 574px;
    height: 64px;


    background: #0F57C2;
    box-shadow: 10px 10px 80px 20px rgba(4, 12, 33, 0.73);
    border-radius: 12px;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.08em;
    margin-bottom: 100px;

}

.form__btn:hover {
    background-color: #0F21C2;
}



.footer {
    width: 100%;
    background-color: #00010A;
}



.footer__ihner {}

.subfooter {
    padding-top: 100px;
    display: flex;
    padding-bottom: 145px;
}

.subfooter__logo {
    width: 277px;
    height: 165px;
    margin-right: 170px;
}

.submenu {}

.submenu__list {
    display: flex;

}

.submenu__item {}

.submenu__link {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #FFFFFF;
    margin-right: 120px;
}

.contact__group {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #FFFFFF;
    margin-right: 120px;
}

.group__title {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.group__link {}

.social {}

.social__title {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.social__images {}

.social__icon {
    margin-right: 16px;
    width: 32px;
    height: 32px;
}

.foot__line {

    width: 1760px;
    height: 0px;
    left: 80px;
    top: 418px;

    border: 0.5px solid #FFFFFF;

    margin-bottom: 38px;
}

.copiryte {
    font-family: 'Oswald',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    color: #FFFFFF;
    text-align: center;
    padding-bottom: 60px;
}